.new-collection {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: $background-color;
}
.section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 1110px;
}
