.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  margin: auto;
  height: 90px;
}
.site-nav__logo {
  text-decoration: none;
  color: $text-color;
  transition: color 250ms $timing-fn;

  &:hover,
  &:focus {
    color: $green-choice-and-top-line;
  }
}

.site-nav__art {
  margin: 0px;
  font-family: $main-font;
  font-weight: 300;
  font-size: 30px;

  &::before {
    content: 'M';
    font-weight: 900;
    color: $green-choice-and-top-line;
    font-family: $main-font;
    font-size: 30px;
  }
}

.site-nav__menu {
  margin: 0px;
  padding: 0px;
  width: 465px;
  height: 34px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
#first .site-nav__link {
  padding-left: 0;
}
#last .site-nav__link {
  padding-right: 0;
}
.site-nav__item {
  list-style-type: none;
}
.site-nav__link {
  color: $color-for-nav;
  text-decoration: none;
  font-family: $main-font;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 14px;
  transition: color 250ms $timing-fn;

  &:hover,
  &:focus {
    color: $green-blog-blog-and-focus;
  }
}
